* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("../fonts/") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ALS Schlange sans";
  src: url("ALSSchlangesans-Bold.eot");
  src: local("ALS Schlange sans Bold"), local("ALSSchlangesans-Bold"), url("../fonts/ALSSchlangesans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ALSSchlangesans-Bold.woff2") format("woff2"), url("../fonts/ALSSchlangesans-Bold.woff") format("woff"), url("../fonts/ALSSchlangesans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ALS Schlange sans";
  src: url("ALSSchlangesans-Bold.eot");
  src: local("ALS Schlange sans Bold"), local("ALSSchlangesans-Bold"), url("../ALSSchlangesans-Bold.eot?#iefix") format("embedded-opentype"), url("../ALSSchlangesans-Bold.woff2") format("woff2"), url("../ALSSchlangesans-Bold.woff") format("woff"), url("../ALSSchlangesans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: Gotham Pro, sans-serif;
  font-weight: 400;
  color: #243976;
}

.header {
  background: #fff;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1180px;
}
@media (min-width: 768px) {
  .container {
    -webkit-filter: none;
            filter: none;
  }
}

.header__box-logo {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  height: 75px;
}
@media (min-width: 768px) {
  .header__box-logo {
    padding-bottom: 9px;
    padding-left: 40px;
    padding-right: 40px;
    height: 97px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 120px;
  height: 34px;
  position: absolute;
  z-index: 10;
  top: 15px;
  left: 20px;
}
@media (min-width: 768px) {
  .header__logo img:hover {
    -webkit-transform: scale(0.95, 0.95);
            transform: scale(0.95, 0.95);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media (min-width: 768px) {
  .header__logo img {
    width: 170px;
    height: 48px;
    position: static;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media (min-width: 1920px) {
  .header__logo img {
    width: 236px;
    height: 67px;
  }
}

@media (min-width: 768px) {
  .header__box-connection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.5rem;
  }
}

.header__telephone_list {
  display: none;
}
.header__telephone_list:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
@media (min-width: 768px) {
  .header__telephone_list {
    display: block;
  }
}

.header__telephone a {
  color: #243976;
  font-weight: 500;
  line-height: 1.18;
}
@media (min-width: 768px) {
  .header__telephone a {
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  .header__telephone a {
    font-size: 18px;
  }
}
@media (min-width: 1960px) {
  .header__telephone a {
    font-size: 20px;
  }
}

.button__record {
  border-radius: 90px;
  background: linear-gradient(315deg, #864FF1 0%, #49B3F7 100%);
  -webkit-box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
          box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
  color: #FFF;
  font-size: 11px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 1.375px;
  text-transform: uppercase;
}
.button__record:hover {
  background: linear-gradient(315deg, #5f1ae7 0%, #189bec 100%);
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .button__record {
    display: none;
  }
}
@media (min-width: 768px) {
  .button__record {
    width: 210px;
    height: 50px;
  }
}
@media (min-width: 1920px) {
  .button__record {
    width: 222px;
    height: 57px;
  }
}

.header__menu {
  position: absolute;
  border-top: 1px solid #E4E5EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EFF2FD;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
@media (min-width: 768px) {
  .header__menu {
    background-color: unset;
    position: static;
    padding: 15px 40px 0px;
    min-height: 45px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0;
    transition: -webkit-transform 0;
    transition: transform 0;
    transition: transform 0, -webkit-transform 0;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 45px;
}
@media (min-width: 768px) {
  .header__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    gap: 20px;
    padding-top: 0;
  }
}

.header__item {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}
.header__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .header__item:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .header__item {
    line-height: 16px;
    height: 100%;
  }
}

.header__item-link {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 500;
  color: #243976;
}
.header__item-link:hover {
  text-decoration: underline;
}
@media (min-width: 769px) {
  .header__item-link:hover {
    background-color: unset;
  }
}
@media (min-width: 769px) {
  .header__item-link {
    font-size: 14px;
    display: inline;
  }
}

.header__button-user {
  color: #243976;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  padding-bottom: 30px;
}
.header__button-user:hover {
  text-decoration: underline;
}
@media (min-width: 769px) {
  .header__button-user::before {
    position: absolute;
    content: "";
    background: url(../img/header/user.svg) no-repeat center center;
    width: 18px;
    height: 18px;
    top: -1px;
    left: 0;
  }
}
@media (min-width: 769px) {
  .header__button-user {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 0;
    padding-left: 26px;
    white-space: nowrap;
  }
}

.header__telephone_burger {
  padding-bottom: 73px;
  font-size: 20px;
  line-height: 24px;
}
@media (min-width: 769px) {
  .header__telephone_burger {
    display: none;
  }
}

.header__burger {
  z-index: 10;
  top: 0;
  right: 0;
}
@media (min-width: 769px) {
  .header__burger {
    display: none;
  }
}

.header__burger-open {
  position: absolute;
  top: 17px;
  right: 20px;
  background-image: url(../img/header/burger-open.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}
.header__burger-open:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__burger-close {
  position: absolute;
  top: 17px;
  right: 20px;
  background-image: url(../img/header/burger-close.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  display: none;
}
.header__burger-close:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.showMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__box-class {
  display: none;
}
@media (min-width: 769px) {
  .header__box-class {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px;
    height: 45px;
  }
}

.header_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  border-radius: 15px;
  background: linear-gradient(356deg, #4271DF 0%, #789CF1 100%);
  padding: 8px 25px;
}
.header_class:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEF1FD));
  background: linear-gradient(180deg, #FFF 0%, #EEF1FD 100%);
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 769px) {
  .main__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1000px) {
  .main__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.main__box-text {
  margin-top: 40px;
  z-index: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
@media (min-width: 769px) {
  .main__box-text {
    margin-bottom: 20px;
  }
}
@media (min-width: 1000px) {
  .main__box-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 50px;
  }
}
@media (min-width: 1920x) {
  .main__box-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 65px;
  }
}

.main__title {
  font-family: "ALS Schlange sans";
  text-align: center;
  font-size: 34px;
}
@media (min-width: 451px) {
  .main__title {
    font-size: 40px;
    width: auto;
  }
}
@media (min-width: 769px) {
  .main__title {
    font-size: 60px;
    width: auto;
  }
}
@media (min-width: 1000px) {
  .main__title {
    font-size: 84px;
    width: 682px;
    height: 153px;
    text-align: start;
  }
}

.main__title_color {
  color: #49B3F7;
}

.main__text {
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  margin-top: 20px;
}
@media (min-width: 769px) {
  .main__text {
    font-size: 17px;
    line-height: 28px;
    margin-top: 40px;
    width: auto;
  }
}
@media (min-width: 1000px) {
  .main__text {
    text-align: start;
    max-width: 445px;
  }
}

.main__subtitle {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}
@media (min-width: 768px) {
  .main__subtitle {
    text-align: center;
  }
}
@media (min-width: 1000px) {
  .main__subtitle {
    text-align: start;
  }
}

@media (min-width: 768px) {
  .box-record_who-suits {
    margin-top: 20px;
  }
}

.box-record {
  margin: 0 auto;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media (min-width: 769px) {
  .box-record {
    margin-right: auto;
  }
}
@media (min-width: 1000px) {
  .box-record {
    margin-top: 40px;
    margin-left: 0;
  }
}

.button__record_max {
  display: block;
  width: 230px;
  height: 55px;
}
@media (min-width: 415px) {
  .button__record_max {
    width: 273px;
    height: 67px;
  }
}
@media (min-width: 768px) {
  .button__record_max {
    width: 250px;
    height: 61px;
  }
}
@media (min-width: 1960px) {
  .button__record_max {
    width: 273px;
    height: 67px;
  }
}

.main__box-social {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 17px;
}

.main__box-social span {
  color: #737373;
  font-size: 14px;
  line-height: 23px;
}

.button__twitter {
  background: url(../img/main/telegram.svg) no-repeat center center;
  width: 40px;
  height: 40px;
  background-color: #2F89CE;
  border-radius: 20px;
}
.button__twitter:hover {
  background-color: #0969b3;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button__whatsapp {
  background: url(../img/main/watsapp.svg) no-repeat center center;
  width: 40px;
  height: 40px;
  background-color: #48C95F;
  border-radius: 20px;
}
.button__whatsapp:hover {
  background-color: #2e9741;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main__background {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: center;
}
@media (min-width: 769px) {
  .main__background {
    width: 100%;
    bottom: 20px;
  }
}
@media (min-width: 1000px) {
  .main__background {
    position: absolute;
    bottom: 50px;
    right: 0;
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
    max-width: 581px;
  }
}
@media (min-width: 1920px) {
  .main__background {
    max-width: 673px;
    bottom: 65px;
  }
}

.main__background img {
  max-width: 100%;
}

.who-suits {
  margin-top: 40px;
  background: #fff;
}

.who-suits__container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
}

.who-suits__box-suits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-h2 {
  text-align: center;
  font-family: "ALS Schlange sans";
  font-size: 28px;
  font-style: normal;
  line-height: 29px;
}

.who-suits__wrapper-suits {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}
@media (min-width: 768px) {
  .who-suits__wrapper-suits {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1000px) {
  .who-suits__wrapper-suits {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 10px;
  }
}

.who-suits__ico-suits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
}
@media (min-width: 415px) {
  .who-suits__ico-suits {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 27px;
  }
}
@media (min-width: 768px) {
  .who-suits__ico-suits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 229px;
  }
}
@media (min-width: 1000px) {
  .who-suits__ico-suits {
    max-width: 180px;
  }
}

.who-suits__text {
  line-height: 24px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .who-suits__text {
    text-align: center;
  }
}

.who-suits__ico {
  min-width: 70px;
  min-height: 70px;
}

.who-suits__ico_knowledge {
  background: url(../img/who-suits/1.svg) no-repeat center center;
}

.who-suits__ico_traveler {
  background: url(../img/who-suits/2.svg) no-repeat center center;
}

.who-suits__ico_family {
  background: url(../img/who-suits/3.svg) no-repeat center center;
}

.who-suits__ico_athlete {
  background: url(../img/who-suits/4.svg) no-repeat center center;
}

.who-suits__ico_foreigner {
  background: url(../img/who-suits/5.svg) no-repeat center center;
}

.who-suits__price {
  margin-top: 50px;
  border-radius: 25px;
  background: #EFF2FD;
  padding: 30px 30px 0px;
}
@media (min-width: 768px) {
  .who-suits__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 20px 0px;
  }
}
@media (min-width: 1000px) {
  .who-suits__price {
    padding: 0;
    margin-top: 86px;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    padding-left: 262px;
    gap: 22px;
  }
}

.who-suits__wrapper-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 415px) {
  .who-suits__wrapper-price {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "img title-h3" "img description";
    gap: 15px;
  }
}
@media (min-width: 768px) {
  .who-suits__wrapper-price {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 224px;
  }
}
@media (min-width: 1000px) {
  .who-suits__wrapper-price {
    padding-left: 0;
  }
}
@media (min-width: 1960px) {
  .who-suits__wrapper-price {
    padding-left: 20px;
    max-width: 524px;
  }
}

.who-suits__title-h3 {
  font-family: "ALS Schlange sans";
  font-size: 20px;
  line-height: 21px;
  text-align: center;
}
@media (min-width: 415px) {
  .who-suits__title-h3 {
    line-height: 24px;
    font-size: 24px;
    grid-area: title-h3;
    text-align: left;
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  .who-suits__title-h3 {
    padding-top: 0;
  }
}

.who-description {
  font-size: 14px;
  line-height: 18px;
  margin-top: 20px;
  text-align: center;
}
@media (min-width: 415px) {
  .who-description {
    text-align: left;
    font-size: 16px;
    grid-area: description;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .who-description {
    font-size: 14px;
    margin-top: 0;
  }
}
@media (min-width: 1000px) {
  .who-description {
    padding-bottom: 0;
  }
}

@media (min-width: 768px) {
  .who-suits__price {
    position: relative;
    height: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1000px) {
  .who-suits__price {
    height: 158px;
  }
}

.who-suits__wrapper-price img {
  margin-top: 15px;
}
@media (min-width: 415px) {
  .who-suits__wrapper-price img {
    width: 87px;
    grid-area: img;
  }
}
@media (min-width: 415px) {
  .who-suits__title-h3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .who-description {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .who-suits__wrapper-price img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
}
@media (min-width: 768px) {
  .who-suits__wrapper-price img {
    width: 168px;
    position: absolute;
    bottom: 18px;
    left: 23px;
  }
}
@media (min-width: 1000px) {
  .who-suits__wrapper-price img {
    width: 132px;
    bottom: 15px;
  }
}

.box-record_who-suits {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1000px) {
  .box-record_who-suits {
    padding-right: 20px;
  }
}
@media (min-width: 1960px) {
  .box-record_who-suits {
    margin-left: auto;
    padding-right: 0;
  }
}