.favorite {
    background-color: #EFF2FD;
    padding-top: 30px;
    padding-bottom: 22px;
}

.favorite__container {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-h2_favorite {
    margin-bottom: 30px;
}

.favorite__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (min-width: 768px){
        position: relative;
        gap: 40px;
    }
}

.favorite__label {
    &:hover {
        cursor: pointer;
    }
}

.favorite__input {
    display: none;

}

.favorite__box {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px 50px;
    @media (min-width: 415px){
        padding: 10px 10px 20px 60px;
    }
    &::before { 
        content: '';
        position: absolute;
        left: 10px;
        top: 45px;
        width: 25px;
        height: 35px;
        @media (min-width: 415px){
            left: 15px; 
        }
    }
}

.favorite__box_1 {
    @media (min-width: 1000px){
        max-width: 60%;
    }
    @media (min-width: 1920px){
        max-width: 50%;
    }
    &::before {
        background: url(../img/favorite/sector.svg) no-repeat center;
    }
}

.favorite__box_2 {
    @media (min-width: 1000px){
        max-width: 55%;
    }
    @media (min-width: 1920px){
        max-width: 50%;
    }
    &::before {
        background: url(../img/favorite/sector.svg) no-repeat center;
        transform: rotate(270deg);
        top: 65px;
        @media (min-width: 415px){
            top: 40px; 
        }
        @media (min-width: 450px){
            top: 45px; 
        }
    }
}

.favorite__box_3 {
    &::before {
        background: url(../img/favorite/sector.svg) no-repeat center;
        transform: rotate(140deg);
    }
    @media (min-width: 768px){
        max-width: 60%;
    }
    @media (min-width: 1000px){
        max-width: 50%;
    }
}

.favorite__box_activ {
    border-radius: 25px;
    background: #FFF;
}

.title-h3_favorite {
    margin-bottom: 15px;
    text-align: left;
    @media (min-width: 415px){
        font-size: 17px;
        line-height: 1;
    }
    @media (min-width: 450px){
        font-size: 20px;
        line-height: 21px;
    }
    @media (min-width: 1000px){
        margin-bottom: 10px;
    }
}

.favorite__description {
    font-size: 14px;
    line-height: 18px;
    @media (min-width: 415px){
        font-size: 15px;
        line-height: 20px;
    }
}

.favorite__img {
    width: 280px;
    height: auto;
    @media (min-width: 415x){
            width: 320px;
    }
    @media (min-width: 450px){
            width: 347px;
    }
    @media (min-width: 768px){
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 320px;
        height: 208px;
    }
    @media (min-width: 1000px){
        width: 480px;
        height: 313px;
        right: -10px;
    }
    @media (min-width: 1920px){
        width: 580px;
        height: 400px;
        top: calc(50% - 200px);
        right: 0px;
    }
}

.favorite__img_2 {
    display: none;
}

.favorite__img_3 {
    display: none;
}

.box-record_favorite {
    margin-top: 0;
    margin-left: 0;
}