.lessons {
    margin-top: 50px;
}

.lessons__container {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-h2__lessons {
    margin-bottom: 30px;
    @media (min-width: 768px){
        margin-bottom: 40px;
    }
    @media (min-width: 1000px){
        margin-bottom: 72px;
    }
}

.lessons__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @media (min-width: 768px){
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        align-items: stretch;
        gap: 40px;
    }
    @media (min-width: 1000px){
        grid-template: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.lessons__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @media (min-width: 768px){
        width: 324px;
    }
    @media (min-width: 1000px){
        width: auto;
        gap: 15px;
    }
}

.lessons__box:nth-child(1) {
    @media (min-width: 768px){
        order: 1;
    }
}

.lessons__box:nth-child(2) {
    @media (min-width: 768px){
        order: 2;
    }
    @media (min-width: 1000px){
        order: 1;
    }
}

.lessons__box:nth-child(3) {
    @media (min-width: 768px){
        order: 1;
    }
}

.lessons__box:nth-child(4) {
    @media (min-width: 768px){
        order: 2;
    }
    @media (min-width: 1000px){
        order: 1;
    }
}

.lessons__box_revers {
    @media (min-width: 1000px){
        flex-direction: column-reverse;
    }
}

.lessons__box img, .lessons__box_revers img {
    height: 150px;
    @media (min-width: 1000px){
        max-width: 220px;
    }
    @media (min-width: 1960px){
        max-width: 250px;
        height: auto;
    }
}

.lessons__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @media (min-width: 1000px){
        gap: 10px;
    }
}

.title-h3_lessons {
    @media (min-width: 768px){
        font-size: 17px;
    }
    @media (min-width: 1000px){
        text-align: center;
        font-size: 20px;
    }
}

.lessons__description {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    @media (min-width: 415px){
        max-width: 265px;
    } 
    @media (min-width: 480px){
        max-width: 354px;
    }
    @media (min-width: 768px){
        font-size: 15px;
        line-height: 22px;
    }
}
