.carousel {
    padding-bottom: 30px;
}
.carousel__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @media (min-width: 415px){
        gap: 65px;
    }
    @media (min-width: 480px){
        gap: 60px;
    }
    @media (min-width: 768px){
        gap: 120px;
    }
    @media (min-width: 1920px){
        gap: 198px;
    }
    & img {
            display: none;
        @media (min-width: 415px){
            display: block;
            position: absolute;
            z-index: -1;
            top: 120px;
            background: url(../img/carousel/figure.svg) no-repeat center center;
            width: 302px;
            height: 256px; 
        }
        @media (min-width: 480px){
            width: 344px;
            height: 292px; 
        }
        @media (min-width: 768px){
            width: 528px;
            height: 450px;
        }
        @media (min-width: 1000px){
            width: 572px;
            height: 487px;
        }
        @media (min-width: 1920px){
            width: 645px;
            height: 549px;
        }
    }
}
// Карусель - слайдер
.carousel__items {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 277px;

    @media (min-width: 415px){
        padding-bottom: 65px;
    }
    @media (min-width: 480px){
        height: 207px;
    }
    @media (min-width: 768px){
        height: 272px;
    }
    @media (min-width: 1000px){
        flex-direction: row;
        overflow: hidden;
    }
}

.carousel__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 20px 30px;
    border-radius: 20px;
    border: 5px solid #4C75A3;
    background: #FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    height: 277px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
    @media (min-width: 415px){
        height: 100%;
        flex-direction: row;
    }
    @media (min-width: 1000px){
        width: 617px;
        height: 272px;
    }
}

.carousel__active {
    opacity: 1;
    z-index: 99;
}

.carousel__prev {
    z-index: 2;
    opacity: 1;
    @media (min-width: 1000px){
        transform: translate(-160%, -50%);
    }
}

.carousel__next {
    z-index: 2;
    opacity: 1;
    @media (min-width: 1000px){
        transform: translate(60%, -50%);
    }
}

.carousel__text-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    position: relative;
    padding-left: 50px;
    width: 100%;
    height: auto;
    @media (min-width: 415px){
        min-width: 111px;
        padding-left: 0;
        padding-top: 20px;
    }
    &::before {
        content: "";
        position: absolute;
        background: url(../img/carousel/vk.svg) no-repeat center center;
        width: 30px;
        height: 30px;
        background-size: 30px;
        left: 0;
        @media (min-width: 415px){
            width: 24px;
            height: 24px;
            background-size: 24px;
            top: -5px;
        }
        @media (min-width: 768px){
            width: 40px;
            height: 40px;
            background-size: 40px;
        }
    }
}

.carousel__text-box_instagram {
    &::before {
        content: "";
        background: url(../img/carousel/instagram.svg) no-repeat center center;
        width: 40px;
        height: 40px;
        @media (min-width: 415px){
            width: 24px;
            height: 24px;
            background-size: 24px;
        }
        @media (min-width: 768px){
            width: 40px;
            height: 40px;
            background-size: 40px;
        }
    }
}

.title-h3_carousel {
    @media (min-width: 415px){
        font-size: 16px;
    }
    @media (min-width: 480px){
        font-size: 18px;
    }
    @media (min-width: 768px){
        font-size: 26px;
    }
}

.carousel__subtitle {
    font-size: 14px;
    @media (min-width: 415px){
        font-size: 11px;
    }
    @media (min-width: 480px){
        font-size: 12px;
    }
    @media (min-width: 768px){
        font-size: 18px; 
    }
}

.carousel__link {
    font-size: 14px;
    line-height: 18px; 
    @media (min-width: 415px){
        font-size: 10px;
        line-height: 13px; 
    }
    @media (min-width: 480px){
        font-size: 12px;
        line-height: 16px; 
    }
    @media (min-width: 768px){
        font-size: 16px;
        line-height: 21px; 
    }
}

.carousel__text {
    color: #243976;
    font-size: 12px;
    line-height: 16px;
    @media (min-width: 415px){
        font-size: 9px;
        line-height: 14px;
        max-width: 100%;
    }
    @media (min-width: 480px){
        font-size: 12px;
        line-height: 18px;
    }
    @media (min-width: 768px){
        font-size: 16px;
        line-height: 21px;
    }
}

//Кнопки слайдера
.carousel__button-container {
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    @media (min-width: 768px){
        width: 168px;
        height: 69px;
    }
}

.carousel__button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-size: 50px;
    transition: all 300ms ease-in-out;
    background: url(../img/carousel/arrow.svg) no-repeat center center;
    @media (min-width: 768px){
        width: 69px;
        height: 69px;
        background-size: 69px;
    }
}

.carousel__button_right {
    transform: rotate(-180deg);
}