.who-suits {
    margin-top: 40px;
    background: #fff;
}

.who-suits__container {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
}

.who-suits__box-suits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-h2 {
    text-align: center;
    font-family: 'ALS Schlange sans';
    font-size: 28px;
    font-style: normal;
    line-height: 29px;
}

.who-suits__wrapper-suits {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    @media (min-width: 768px){
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    @media (min-width: 1000px){
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 10px;
    }
}

.who-suits__ico-suits {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    @media (min-width: 415px){
        justify-content: center;
        gap: 27px;
    }
    @media (min-width: 768px){
        flex-direction: column;
        justify-content: center;
        width: 229px;
    }
    @media (min-width: 1000px){
        max-width: 180px;
    }
}

.who-suits__text {
    line-height: 24px;
    font-size: 16px;
    @media (min-width: 768px){
        text-align: center;
    }
}

.who-suits__ico {
    min-width: 70px;
    min-height: 70px;
}

.who-suits__ico_knowledge {
    background: url(../img/who-suits/1.svg) no-repeat center center;
}

.who-suits__ico_traveler {
    background: url(../img/who-suits/2.svg) no-repeat center center;
}

.who-suits__ico_family {
    background: url(../img/who-suits/3.svg) no-repeat center center;
}

.who-suits__ico_athlete {
    background: url(../img/who-suits/4.svg) no-repeat center center;
}

.who-suits__ico_foreigner {
    background: url(../img/who-suits/5.svg) no-repeat center center;
}

.who-suits__price {
    margin-top: 50px;
    border-radius: 25px;
    background: #EFF2FD;
    padding: 30px 30px 0px;
    @media (min-width: 768px){
        display: flex;
        flex-direction: column;
        padding: 20px 20px 0px;
    }
    @media (min-width: 1000px){
        padding: 0;
        margin-top: 86px;
        flex-direction:row !important;
        padding-left: 262px;
        gap: 22px;
    }
}

.who-suits__wrapper-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 415px){
        display: grid;
        grid-template-areas:    "img title-h3"
                                "img description";
        gap: 15px;
    }
    @media (min-width: 768px){
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding-left: 224px;
    }
    @media (min-width: 1000px){
        padding-left: 0;
    }
    @media (min-width: 1960px){
        padding-left: 20px;
        max-width: 524px;
    }
}

.title-h3 {
    font-family: 'ALS Schlange sans';
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    @media (min-width: 415px){
        line-height: 24px;
        font-size: 24px;
        grid-area: title-h3;
        text-align: left;
        padding-top: 0;
    }
}

.title-h3_who-suits {
    @media (min-width: 415px){
        grid-area: title-h3;
        text-align: left;
        padding-top: 20px;
    }
    @media (min-width: 768px){
        padding-top: 0;
    }
}

.who-description {
    font-size: 14px;
    line-height: 18px; 
    margin-top: 20px;
    text-align: center;
    @media (min-width: 415px){
        text-align: left;
        font-size: 16px;
        grid-area: description;
        padding-bottom: 20px;
    }
    @media (min-width: 768px){
        font-size: 14px;
        margin-top: 0;
    }
    @media (min-width: 1000px){
        padding-bottom: 0;
    }
}

.who-suits__price {
    @media (min-width: 768px){
        position: relative;
        height: 255px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (min-width: 1000px){
        height: 158px;
    }
}

.who-suits__wrapper-price img {
    margin-top: 15px;
    @media (min-width: 415px){
        width: 87px;
        grid-area: img;
    }
    @media (min-width: 768px){
        width: 168px;
        position:absolute;
        bottom: 18px;
        left:  23px;
    }
    @media (min-width: 1000px){
        width: 132px;
        bottom: 15px;
    }
}

.box-record_who-suits {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px){
        margin-top: 0;
    }
    @media (min-width: 1000px){
        padding-right: 20px;
    }
    @media (min-width: 1960px){
        margin-left: auto;
        padding-right: 0;
    }
}
