@import 'nulling';
@import 'fonts';

body {
    font-family: Gotham Pro, sans-serif;
    font-weight: 400;
    color: #243976;
    background-color: #fff
}

@import 'header';
@import 'main';
@import 'who-suits';
@import 'who-suits-price';
@import 'lessons';
@import 'favorite';
@import 'comparison';
@import 'online-school';