section.certificate
    .certificate__container
        .certificate__box-text
            h2.title-h2.title-h2_certificate Аттестат государственного образца
            p.certificate__text Вы получите аттестат государственного образца. Он ничем не отличается от аттестата которые выдают в обычных школах.С аттестатом вы сможете продолжить обучение в лучших вузах страны.
        img(src="img/certificate/certificate.png" alt="Аттестат")