section.comparison
    .comparison__container
        h2.title-h2.title-h2_comparison Глянем сравнение:
        .comparison__box
            img.comparison__img-left(src="img/comparison/left.png" alt="Мальчик с рюкзаком")
            .comparison__school
                .comparison__usual
                    h3.title-h3.title-h3_comparison Обычная школа
                    ul.comparison__list
                        li.comparison__item
                            .comparison__box-item
                                p.comparison__text Число детей в классе
                                span.comparison__desc от 25
                        li.comparison__item
                            .comparison__box-item
                                p.comparison__text Количество уроков
                                span.comparison__desc 5-6 в день
                        li.comparison__item
                            .comparison__box-item
                                p.comparison__text Дополнительные занятия
                                span.comparison__desc обязательно
                        li.comparison__item
                            .comparison__box-item
                                p.comparison__text Индивидуальный подход
                                span.comparison__desc нет
                        li.comparison__item
                            .comparison__box-item
                                p.comparison__text Гибкий график занятий
                                span.comparison__desc нет
                        li.comparison__item
                            .comparison__box-item
                                p.comparison__text Собрать ребенка в школу
                                span.comparison__desc от 30 тыс. рублей

                .comparison__online
                    h3.title-h3.title-h3_comparison-white Онлайн школа
                    ul.comparison__list.comparison__list_white
                        li.comparison__item.comparison__item_white
                            .comparison__box-item
                                p.comparison__text_white  Число детей в классе
                                span.comparison__desc_white  до 12
                        li.comparison__item.comparison__item_white
                            .comparison__box-item
                                p.comparison__text_white  Количество уроков
                                span.comparison__desc_white 2-3 в день
                        li.comparison__item.comparison__item_white
                            .comparison__box-item
                                p.comparison__text_white Дополнительные занятия
                                span.comparison__desc_white по желанию
                        li.comparison__item.comparison__item_white
                            .comparison__box-item
                                p.comparison__text_white Индивидуальный подход
                                span.comparison__desc_white да
                        li.comparison__item.comparison__item_white
                            .comparison__box-item
                                p.comparison__text_white Гибкий график занятий
                                span.comparison__desc_white да
                        li.comparison__item.comparison__item_white
                            .comparison__box-item
                                p.comparison__text_white Собрать ребенка в школу
                                span.comparison__desc_white от рублей

            img.comparison__img-right(src="img/comparison/right.png" alt="Мальчик за партой")