section.favorite
    .favorite__container
        h2.title-h2.title-h2_favorite Дети любят наши уроки потому что:
        .favorite__wrapper
            label.favorite__label
                input.favorite__input#favorite__radio_one(name="type" type="radio" checked)
                .favorite__box.favorite__box_1.favorite__box_activ#testik
                    h3.title-h3.title-h3_favorite Продвинутая геймификация
                    p.favorite__description Мы используем мини-игры чтобы увлечь ребенка в процесс решения задач и помочь усвоить материал в интересной форме
                img.favorite__img.favorite__img_1(src="img/favorite/1.png" alt="Продвинутая геймификация")

            label.favorite__label
                input.favorite__input#favorite__radio_two(name="type" type="radio")
                .favorite__box.favorite__box_2#testik2
                    h3.title-h3.title-h3_favorite Не зубрят и не переписывают учебники
                    p.favorite__description Дети вовлечены в урок по средствам взаимодействия между собой и педагогом. Играют в тематические квизы. Смотрят видео и разбирают материал.
                img.favorite__img.favorite__img_2(src="img/favorite/2.png" alt="Не зубрят и не переписывают учебники")

            label.favorite__label
                input.favorite__input#favorite__radio_three(name="type" type="radio")
                .favorite__box.favorite__box_3#testik3
                    h3.title-h3.title-h3_favorite Никакого стресса
                    p.favorite__description В учебных классах поддерживается атмосфера дружбы и уважения. Никакого давления. Дети чувствуют себя комфортно
                img.favorite__img.favorite__img_3(src="img/favorite/3.png" alt="Никакого стресса")

            .box-record.box-record_favorite
                button.button__record.button__record_max Записаться на урок
                .main__box-social
                    span или написать:
                    a.button__twitter(href="#")
                    a.button__whatsapp(href="#")