header.header
    .container
        .header__box-logo
            .header__logo
                a(href="index.html")
                    img(src="img/header/logo.svg" alt="Логотип компании")
                .header__box-connection
                    span.header__telephone.header__telephone_list
                        a(href="tel:+78003003791") 8 (800) 300-37-91
                    button.button__record Записаться на урок
                button.header__burger
                        i.header__burger-open
                        i.header__burger-close

        nav.header__menu
            ul.header__list
                li.header__item
                    a.header__item-link(href="#") Для кого
                li.header__item
                    a.header__item-link(href="#") Как проходят уроки
                li.header__item
                    a.header__item-link(href="#") Преимущества
                li.header__item
                    a.header__item-link(href="#") Цены
                li.header__item
                    a.header__item-link(href="#") Контакты

            button.header__button-user Личный кабинет
            span.header__telephone.header__telephone_burger
                a(href="tel:+78003003791") 8 (800) 300-37-91
        .header__box-class
            button.header_class 1-4 классы
            button.header_class 5-8 классы
            button.header_class 9-11 классы