doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="css/index.css" rel="stylesheet")
        link(rel="icon" href="img/ico.svg" type="image/svg+xml")
        title= "Онлайн школа"
    body
        include header.pug
        include main.pug
        include who-suits.pug
        include who-price.pug
        include lessons.pug
        include favorite.pug
        include comparison.pug
        include online-school.pug
        include who-price_boy.pug
        include price.pug
        include certificate.pug
        include reviews.pug

        script(src="scripts/burger.js")
        script(src="scripts/image-display.js")
        script(src="scripts/reviews.js")
