main.main
    .main__container
        .main__box-text
            h1.main__title Настоящая школа #[span.main__title_color у вас дома!]
            p.main__text Мы даем детям реальные знания, потому наши классы не превышают 10 человек. А интерактивность и вовлеченность делает уроки интересными для детей.
            span.main__subtitle Семейное образование с нами - это эффективно!
            .box-record
                button.button__record.button__record_max Записаться на урок
                .main__box-social
                    span или написать:
                    a.button__twitter(href="#")
                    a.button__whatsapp(href="#")
        .main__background
            img(src="img/main/background.png")

            //- сделать фон общий