main.main
    .main__box-text
        h1.main__title Настоящая школа #[span.main__title_color у вас дома!]
        p.main__text Мы даем детям реальные знания, потому наши классы не превышают 10 человек. А интерактивность и вовлеченность делает уроки интересными для детей.
        span.main__subtitle Семейное образование с нами - это эффективно!
        .main__box-record
            button.main__button-lesson Записаться на урок
            .main__box-social
                span или написать:
                button.main__button-twitter
                button.main__button-whatsapp
    .main__background
        img(src="/img/main/background.png")