section.online-school
    .online-school__container
        h2.title-h2.title-h2_online-school Онлайн школа среднего образования это -
        .online-school__wrapper
            .lessons__box
                img(src="img/online-school/online-school1.png" alt="Удобный график занятий")
                .lessons__content
                    h3.title-h3.title-h3_online-school Удобный график занятий
                    p.lessons__description Вы можете выбрать удобное время начала занятий (9:00, 11:00 или 13:00)
            .lessons__box
                img(src="img/online-school/online-school2.png" alt="Записи уроков доступны всегда")
                .lessons__content
                    h3.title-h3.title-h3_online-school Записи уроков доступны всегда
                    p.lessons__description Пропустил урок - не страшно! Записи уроков можно посмотреть в любое время
            .lessons__box
                img(src="img/online-school/online-school3.png" alt="Сбалансированная нагрузка")
                .lessons__content
                    h3.title-h3.title-h3_online-school Сбалансированная нагрузка
                    p.lessons__description Никаких лишних и не нужных занятий. Только важное и необходимое
            .lessons__box
                img(src="img/online-school/online-school4.png" alt="Не нужно покупать школьную форму и канцелярию")
                .lessons__content
                    h3.title-h3.title-h3_online-school Не нужно покупать школьную форму и канцелярию
                    p.lessons__description Тетрадка, ручка, линейка и карандаш - это все, что нужно для учебы в онлайн школе!
            .lessons__box
                img(src="img/online-school/online-school5.png" alt="Высококлассные педагоги")
                .lessons__content
                    h3.title-h3.title-h3_online-school Высококлассные педагоги
                    p.lessons__description Опытные учителя прошедшие строгий отбор и использующие современные методы обучения
            .lessons__box
                img(src="img/online-school/online-school6.png" alt="Никакого стресса")
                .lessons__content
                    h3.title-h3.title-h3_online-school Никакого стресса
                    p.lessons__description В учебных классах поддерживается атмосфера дружбы и уважения. Никакого давления. Дети чувствуют себя комфортно