section.price
    .price__container
        h2.title-h2.title-h2_price Сколько стоит обучение в онлайн школе?
        .price__box
            .price__class
                .price__month 10 500 ₽ #[span /мес]
                .price__column
                    h3.title-h3.title-h3_price 1-4 класс
                    p.price__description Веселые и увлекательные уроки
                    ul.price__list
                        li.price__item 2-3 урока в день пн-чт
                        li.price__item 10-12 учеников в классе
                        li.price__item внимание к каждому ребенку
                        li.price__item интерактивные тренажеры
                        li.price__item игровая форма обучения
                        li.price__item зачисление в школу партнер 12 000/год
                    a.price__link(href="#") Подробнее
                img(src="img/price/price_1.png" alt="Маленькая девочка")
            .price__class
                .price__month 12 500 ₽ #[span /мес]
                .price__column
                    h3.title-h3.title-h3_price 5-8 класс
                    p.price__description Помогаем не потерять интерес
                    ul.price__list
                        li.price__item 3-5 уроков в день пн-пт
                        li.price__item 12-15 учеников в классе
                        li.price__item внимание к каждому ребенку
                        li.price__item интерактивные тренажеры
                        li.price__item усиленная подготовка к ОГЭ
                        li.price__item зачисление в школу партнер 12 000/год
                    a.price__link(href="#") Подробнее
                img(src="img/price/price_2.png" alt="Маленькая девочка")
            .price__class
                .price__month 16 500 ₽ #[span /мес]
                .price__column
                    h3.title-h3.title-h3_price 9-11 класс
                    p.price__description Самый важный этап в жизни
                    ul.price__list
                        li.price__item 4-5 уроков в день пн-пт
                        li.price__item 12-15 учеников в классе
                        li.price__item внимание к каждому ребенку
                        li.price__item интерактивные тренажеры
                        li.price__item игровая форма обучения
                        li.price__item зачисление в школу партнер 12 000/год
                    a.price__link(href="#") Подробнее
                img(src="img/price/price_3.png" alt="Маленькая девочка")