section.carousel
    .carousel__container
        h2.title-h2.title-h2_carousel Отзывы родителей о "Школе Будущего Online"
        .items
            .item.active
                .carousel__text-box.carousel__text-box_vk
                    h3.title-h3.title-h3_carousel Анна Смирнова
                    span.carousel__subtitle родитель Максима
                    a.carousel__link(href="#") vk.com/annaaa
                p.carousel__text Банальные, но неопровержимые выводы, а также непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям. Имеется спорная точка зрения, гласящая примерно следующее: диаграммы.

            .item.next
                .carousel__text-box.carousel__text-box_instagram
                    h3.title-h3.title-h3_carousel Светлана Стриж
                    span.carousel__subtitle родитель Марии
                    a.carousel__link(href="#") instagram.com/valy12
                p.carousel__text Банальные, но неопровержимые выводы, а также непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям. Имеется спорная точка зрения, гласящая примерно следующее: диаграммы.    

            .item
                .carousel__text-box.carousel__text-box_vk
                    h3.title-h3.title-h3_carousel Антон Лукьянов
                    span.carousel__subtitle родитель Артёма
                    a.carousel__link(href="#") vk.com/Vukos
                p.carousel__text Банальные, но неопровержимые выводы, а также непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям. Имеется спорная точка зрения, гласящая примерно следующее: диаграммы.

            .item
                .carousel__text-box.carousel__text-box_instagram
                    h3.title-h3.title-h3_carousel Валерия Симкина
                    span.carousel__subtitle родитель Ольги
                    a.carousel__link(href="#") instagram.com/simkaOl
                p.carousel__text Банальные, но неопровержимые выводы, а также непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям. Имеется спорная точка зрения, гласящая примерно следующее: диаграммы.     

            .item.prev
                .carousel__text-box.carousel__text-box_vk
                    h3.title-h3.title-h3_carousel Валерий Чкалов
                    span.carousel__subtitle родитель Антона
                    a.carousel__link(href="#") vk.com/Schokak
                p.carousel__text Банальные, но неопровержимые выводы, а также непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям. Имеется спорная точка зрения, гласящая примерно следующее: диаграммы.
        .carousel__background


        .button-container
            .button
            .button.button_right
