.who-price
    .who-price__container
        .who-price__wrapper
            h3.title-h3._title-h3_who-price Первый месяц обучения от 5 250 р
            p.who-description Не знаете подойдет ли вашему ребенку обучение онлайн? Попробуйте первый месяц со скидкой 50%!
            img(src="img/who-price/girl.png")
        .box-record.box-record_who-price
            button.button__record.button__record_max Записаться на урок
            .main__box-social
                span или написать:
                a.button__twitter(href="#")
                a.button__whatsapp(href="#")