section.who-suits
    .who-suits__container
        .who-suits__box-suits
            h2.title-h2 Кому подходит онлайн образование?
            .who-suits__wrapper-suits
                .who-suits__ico-suits
                    .who-suits__ico.who-suits__ico_knowledge
                    p.who-suits__text Для тех, кто хочет получать знания

                .who-suits__ico-suits
                    .who-suits__ico.who-suits__ico_traveler
                    .who-suits__text Для путешественников

                .who-suits__ico-suits
                    .who-suits__ico.who-suits__ico_family
                    .who-suits__text Для семейного обучения

                .who-suits__ico-suits
                    .who-suits__ico.who-suits__ico_athlete
                    .who-suits__text Для спортсменов

                .who-suits__ico-suits
                    .who-suits__ico.who-suits__ico_foreigner
                    .who-suits__text Для проживающих за рубежом