section.who-suits
    .who-suits__container
        .who-suits__box-suits
            h2.title-h2 Кому подходит онлайн образование?
            .who-suits__wrapper-suits
                .who-suits__ico-suits
                    .who-suits__ico.who-suits__ico_knowledge
                    p.who-suits__text Для тех, кто хочет получать знания

                .who-suits__ico-suits
                    .who-suits__ico.who-suits__ico_traveler
                    .who-suits__text Для путешественников

                .who-suits__ico-suits
                    .who-suits__ico.who-suits__ico_family
                    .who-suits__text Для семейного обучения

                .who-suits__ico-suits
                    .who-suits__ico.who-suits__ico_athlete
                    .who-suits__text Для спортсменов

                .who-suits__ico-suits
                    .who-suits__ico.who-suits__ico_foreigner
                    .who-suits__text Для проживающих за рубежом
        .who-suits__price
            .who-suits__wrapper-price
                h3.who-suits__title-h3 Первый месяц обучения от 5 250 р
                p.who-description Попробуйте первый месяц со скидкой 50%!
            img(src="/img/who-suits/girl.png")
            .main__box-record
                button.main__button-record.button Записаться на урок
                .main__box-social
                    span или написать:
                    button.main__button-twitter
                    button.main__button-whatsapp